.SupportPersonalityInputsMobile{
    height: 47px!important;
    font-family: IRANSansX!important;
    font-size: 12px!important;
}

.SupportPersonalityButton{
    width: 154px!important;
    height: 32px!important;
    color: #0a0a0a!important;
    background-color: #ffd333!important;
    border-color: #ffd333!important;
}