.main{
    height: 64px;
    box-shadow: 0 5px 1px 0 rgba(102, 242, 255, 0.05)!important;
    z-index: 10;
    width: 100%;
    position: fixed;
    /*background: rgb(218,0,0);*/
    /*background: linear-gradient(90deg, rgba(218,0,0,0.5) 0%, rgba(255,255,255,0) 50%, rgba(35,159,63,0.5) 100%);*/
}

.HeaderLogo{
    height: 60px;
    width: 60px;
    -webkit-filter: drop-shadow(1px 1px 1px #b1b9ba);
    filter: drop-shadow(1px 1px 1px #b1b9ba);
}

.HeaderLogo:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.btnOfHeader:hover{
    opacity: 0.8;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfcfc;
    cursor: pointer;
}

.btnOfHeader:hover{
    transform: scale(1.05);
}

