.mainPersonBox{
    height: 635px;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.21);
    background: rgb(69,180,198);
    background: linear-gradient(0deg, rgba(69,180,198,1) 0%, rgba(239,239,239,1) 100%);
    /*background-image: url("../../images/PersonBAckGround.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}

.btnPerson{
    margin-top: 10%;
    font-size: 11px!important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.btnPerson:hover{
    transform: scale(1.05);
}